.head{
background-color:white;
padding:12px;
text-align:left;
}


div.scrollmenu{
    background-color:grey;
    color:black;
    overflow: auto;
}

div.scrollmenu a{
    display:inline-block;
    color:black;
    text-align:center;
    padding:30px;
    font-size:8px;
}
.scrollmenu a:hover{
    background-color: grey;
    color:black;
}

.Who,.What,.Why{
    float:right;
    width:30%;
    padding:15px;
    text-align:justify;
}

h2{
    color:maroon;
    align-text:center;
}

@media screen and(max-width:600px){
    .Who,.What,.Why{width: 50%;}
}
@media screen and(max-width:400px){
    .Who,.What,.Why{width: 100%;}
}

footer{
    display:block;
}